.ecart
{
    padding-bottom: 7em;
    margin-bottom: auto;
}

.navi
{
    background-color: rgb(61, 43, 28);
}

.ecartbot
{
    margin-top: 4em;
}

.main
{
    background-image: url("../image/paper.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.classement
{
    font-size: large;
    font-weight: bold;
}

thead
{
    background-color: rgb(61, 43, 28) ;
    color: white;
}

body
{
    font-family: 'Pacifico', cursive; 
}